# Predict Students Dropout - Get Raw Data

##### 01_Raw_Data_StudentsDropout.ipynb


This notebook is responsible for acquiring the raw data for the "Predict Students' Dropout and Academic Success" project. 
The data is fetched from an external source, inspected for initial understanding, and saved in a local CSV file for further processing.

## Steps
1. **Load the Data**: Fetch the dataset from the website ([archive.ics.uci.edu](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success)).
2. **Data quality check**: Display the first few rows and the data summary to understand its structure and contents.
3. **Save Raw Data**: Store the raw data in a CSV file in data folder for future use in other notebooks.

In [7]:
# The '!' allows us to run shell commands in the notebook
# command installs the Python packages listed in the requirements.txt file
#!pip install -r requirements.txt

### Import required packages

In [9]:
# Import required packages

from ucimlrepo import fetch_ucirepo

import os
import pandas as pd
import pprint

### Load the dataset

In [10]:
# Fetch dataset from source ucirepo with id=697
try:
    predict_students_dropout = fetch_ucirepo(id=697)
    print("Dataset fetched successfully.")
except Exception as e:
    print(f"Error fetching dataset: {e}")
    raise

# Data (as pandas dataframes)
try:
    X = predict_students_dropout.data.features
    y = predict_students_dropout.data.targets
    print("Data extracted successfully.")
except Exception as e:
    print(f"Error extracting data: {e}")
    raise

Dataset fetched successfully.
Data extracted successfully.

In [11]:
# Display information about features (X)
X.info()  # Provides summary of DataFrame X (columns, non-null values, data types, memory usage)

# Display information about target (y)
y.info()  # Provides summary of y (columns, non-null values, data types, memory usage)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital Status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance                      4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
dtypes: float64(7), int64(29)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Target  4424 non-null   object
dtypes: object(1)
memory usage: 34.7+ KB

### Data Quality Check

In [13]:
#Pretty print metadata
metadata = predict_students_dropout.metadata

# Display metadata for the dataset in a more readable format
pprint.pp(metadata)

{'uci_id': 697,
 'name': "Predict Students' Dropout and Academic Success",
 'repository_url': 'https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success',
 'data_url': 'https://archive.ics.uci.edu/static/public/697/data.csv',
 'abstract': 'A dataset created from a higher education institution (acquired '
             'from several disjoint databases) related to students enrolled in '
             'different undergraduate degrees, such as agronomy, design, '
             'education, nursing, journalism, management, social service, and '
             'technologies.\n'
             'The dataset includes information known at the time of student '
             'enrollment (academic path, demographics, and social-economic '
             "factors) and the students' academic performance at the end of "
             'the first and second semesters. \n'
             'The data is used to build classification models to predict '
             "students' dropout and academic sucess. The problem is formulated "
             'as a three category classification task, in which there is a '
             'strong imbalance towards one of the classes.',
 'area': 'Social Science',
 'tasks': ['Classification'],
 'characteristics': ['Tabular'],
 'num_instances': 4424,
 'num_features': 36,
 'feature_types': ['Real', 'Categorical', 'Integer'],
 'demographics': ['Marital Status',
                  'Education Level',
                  'Nationality',
                  'Occupation',
                  'Gender',
                  'Age'],
 'target_col': ['Target'],
 'index_col': None,
 'has_missing_values': 'no',
 'missing_values_symbol': None,
 'year_of_dataset_creation': 2021,
 'last_updated': 'Mon Feb 26 2024',
 'dataset_doi': '10.24432/C5MC89',
 'creators': ['Valentim Realinho',
              'Mónica Vieira Martins',
              'Jorge Machado',
              'Luís Baptista'],
 'intro_paper': {'title': "Early prediction of student's performance in higher "
                          'education: a case study',
                 'authors': 'Mónica V. Martins, Daniel Tolledo, Jorge Machado, '
                            'Luís M. T. Baptista, and Valentim Realinho',
                 'published_in': 'Trends and Applications in Information '
                                 'Systems and Technologies',
                 'year': 2021,
                 'url': 'http://www.worldcist.org/2021/',
                 'doi': 'http://www.doi.org/10.1007/978-3-030-72657-7_16'},
 'additional_info': {'summary': None,
                     'purpose': 'The dataset was created in a project that '
                                'aims to contribute to the reduction of '
                                'academic dropout and failure in higher '
                                'education, by using machine learning '
                                'techniques to identify students at risk at an '
                                'early stage of their academic path, so that '
                                'strategies to support them can be put into '
                                'place. \n'
                                '\n'
                                'The dataset includes information known at the '
                                'time of student enrollment – academic path, '
                                'demographics, and social-economic factors. \n'
                                '\n'
                                'The problem is formulated as a three category '
                                'classification task (dropout, enrolled, and '
                                'graduate) at the end of the normal duration '
                                'of the course. \n',
                     'funded_by': 'This dataset is supported by program SATDAP '
                                  '- Capacitação da Administração Pública '
                                  'under grant POCI-05-5762-FSE-000191, '
                                  'Portugal.',
                     'instances_represent': 'Each instance is a student',
                     'recommended_data_splits': 'The dataset was used, in our '
                                                'project, with a data split of '
                                                '80% for training and 20% for '
                                                'test.',
                     'sensitive_data': None,
                     'preprocessing_description': 'We performed a rigorous '
                                                  'data preprocessing to '
                                                  'handle data from anomalies, '
                                                  'unexplainable outliers, and '
                                                  'missing values.',
                     'variable_info': None,
                     'citation': 'If you use this dataset in experiments for a '
                                 'scientific publication, please kindly cite '
                                 'our paper: \n'
                                 'M.V.Martins, D. Tolledo, J. Machado, L. M.T. '
                                 'Baptista, V.Realinho. (2021) "Early '
                                 'prediction of student’s performance in '
                                 'higher education: a case study" Trends and '
                                 'Applications in Information Systems and '
                                 'Technologies, vol.1, in Advances in '
                                 'Intelligent Systems and Computing series. '
                                 'Springer. DOI: 10.1007/978-3-030-72657-7_16'}}

In [30]:
    # Variable information\n",
    variables = predict_students_dropout.variables
    
    # Adjust display option for pandas\n",
    pd.set_option('display.max_colwidth', None)

In [31]:
# Filter the DataFrame where demographic is not None
demographic_variables = variables[variables['demographic'].notna()]

# Display the first 10 rows of the filtered DataFrame
display(demographic_variables.head(2))

,name,role,type,demographic,description,units,missing_values
0,Marital Status,Feature,Integer,Marital Status,1 – single 2 – married 3 – widower 4 – divorced 5 – facto union 6 – legally separated,None,no
5,Previous qualification,Feature,Integer,Education Level,1 - Secondary education 2 - Higher education - bachelor's degree 3 - Higher education - degree 4 - Higher education - master's 5 - Higher education - doctorate 6 - Frequency of higher education 9 - 12th year of schooling - not completed 10 - 11th year of schooling - not completed 12 - Other - 11th year of schooling 14 - 10th year of schooling 15 - 10th year of schooling - not completed 19 - Basic education 3rd cycle (9th/10th/11th year) or equiv. 38 - Basic education 2nd cycle (6th/7th/8th year) or equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 42 - Professional higher technical course 43 - Higher education - master (2nd cycle),None,no

In [32]:
# Filter columns with 10 or fewer unique values in the demographic column
columns_with_few_unique_values = demographic_variables[
    demographic_variables['demographic'].apply(lambda x: len(str(x).split())) <= 10
]

# Display the filtered DataFrame
display(columns_with_few_unique_values.head(1))

,name,role,type,demographic,description,units,missing_values
0,Marital Status,Feature,Integer,Marital Status,1 – single 2 – married 3 – widower 4 – divorced 5 – facto union 6 – legally separated,None,no

### Save Raw Data

In [35]:
# Combine features and target into a single DataFrame
try:
    df = pd.concat([X, y], axis=1)
    print("Features and target combined successfully.")
except Exception as e:
    print(f"Error combining features and target: {e}")
    raise

# Ensure ./data directory exists
try:
    os.makedirs('data', exist_ok=True)
    print("./data directory exists or created successfully.")
except Exception as e:
    print(f"Error creating directory: {e}")
    raise

# Save combined DataFrame to CSV
try:
    df.to_csv('data/row_data.csv', index=False)
    print("Combined data saved successfully.")
except Exception as e:
    print(f"Error saving combined data to CSV: {e}")
    raise

# Read the CSV back into a DataFrame
try:
    df_from_csv = pd.read_csv('data/row_data.csv')
    print("Data loaded successfully from CSV.")
except Exception as e:
    print(f"Error reading CSV into DataFrame: {e}")
    raise

Features and target combined successfully.
./data directory exists or created successfully.
Combined data saved successfully.
Data loaded successfully from CSV.

In [37]:
# Display the first few rows of the DataFrame
display(df.head())

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [40]:
# Show the columns of the dataframe
df.columns

Index(['Marital Status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

#### End of the notebook 01_Raw_Data_StudentsDropout.ipynb