# Predict Students Dropout - Cleaning data

##### 03_Predict_Students_Dropout_Cleanse_Data.ipynb

## Introduction

This notebook is responsible for cleasing the raw data for the "Predict Students' Dropout and Academic Success" project. The data is read from row_data saved earlier in get data script.


## Steps
1. **Data Quality Check**: Assess the quality of the data by checking its shape, data types, missing values, and summary statistics.
2. **Columns Rename**: Rename the columns to have consistent, lowercase, and underscore-separated names.
3. **Check Duplicate Rows**: Identify and count duplicate rows in the DataFrames.
4. **Check Unique Values**: Check the number of unique values in each column.
5. **Individual Variables Quality Check**: Analyze the distribution of values in each column.

In [3]:

# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:

# Load the dataset into a Pandas dataframe
df_student = pd.read_csv('data/row_data.csv')

### Data Quality Check

In [23]:
# Step 4: Data Quality Check
def data_quality_check(df):
    print("Data Quality Check:\n")
    print("Shape of the DataFrame:", df.shape)
    print("Data Types:\n", df.dtypes)
    print("Missing Values:\n", df.isnull().sum())
    print("Summary Statistics:\n", df.describe(include='all'))

print("Data Quality Check for student_mat:")
data_quality_check(df_student)

Data Quality Check for student_mat:
Data Quality Check:

Shape of the DataFrame: (4424, 37)
Data Types:
 Marital Status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance                          int64
Previous qualification                              int64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Admission grade                                   float64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object
Missing Values:
 Marital Status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64
Summary Statistics:
         Marital Status  Application mode  Application order       Course  \
count      4424.000000       4424.000000        4424.000000  4424.000000
unique             NaN               NaN                NaN          NaN
top                NaN               NaN                NaN          NaN
freq               NaN               NaN                NaN          NaN
mean          1.178571         18.669078           1.727848  8856.642631
std           0.605747         17.484682           1.313793  2063.566416
min           1.000000          1.000000           0.000000    33.000000
25%           1.000000          1.000000           1.000000  9085.000000
50%           1.000000         17.000000           1.000000  9238.000000
75%           1.000000         39.000000           2.000000  9556.000000
max           6.000000         57.000000           9.000000  9991.000000

        Daytime/evening attendance  Previous qualification  \
count                  4424.000000             4424.000000
unique                         NaN                     NaN
top                            NaN                     NaN
freq                           NaN                     NaN
mean                      0.890823                4.577758
std                       0.311897               10.216592
min                       0.000000                1.000000
25%                       1.000000                1.000000
50%                       1.000000                1.000000
75%                       1.000000                1.000000
max                       1.000000               43.000000

        Previous qualification (grade)  Nacionality  Mother's qualification  \
count                      4424.000000  4424.000000             4424.000000
unique                             NaN          NaN                     NaN
top                                NaN          NaN                     NaN
freq                               NaN          NaN                     NaN
mean                        132.613314     1.873192               19.561935
std                          13.188332     6.914514               15.603186
min                          95.000000     1.000000                1.000000
25%                         125.000000     1.000000                2.000000
50%                         133.100000     1.000000               19.000000
75%                         140.000000     1.000000               37.000000
max                         190.000000   109.000000               44.000000

        Father's qualification  ...  Curricular units 2nd sem (credited)  \
count              4424.000000  ...                          4424.000000
unique                     NaN  ...                                  NaN
top                        NaN  ...                                  NaN
freq                       NaN  ...                                  NaN
mean                 22.275316  ...                             0.541817
std                  15.343108  ...                             1.918546
min                   1.000000  ...                             0.000000
25%                   3.000000  ...                             0.000000
50%                  19.000000  ...                             0.000000
75%                  37.000000  ...                             0.000000
max                  44.000000  ...                            19.000000

        Curricular units 2nd sem (enrolled)  \
count                           4424.000000
unique                                  NaN
top                                     NaN
freq                                    NaN
mean                               6.232143
std                                2.195951
min                                0.000000
25%                                5.000000
50%                                6.000000
75%                                7.000000
max                               23.000000

        Curricular units 2nd sem (evaluations)  \
count                              4424.000000
unique                                     NaN
top                                        NaN
freq                                       NaN
mean                                  8.063291
std                                   3.947951
min                                   0.000000
25%                                   6.000000
50%                                   8.000000
75%                                  10.000000
max                                  33.000000

        Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
count                           4424.000000                       4424.000000
unique                                  NaN                               NaN
top                                     NaN                               NaN
freq                                    NaN                               NaN
mean                               4.435805                         10.230206
std                                3.014764                          5.210808
min                                0.000000                          0.000000
25%                                2.000000                         10.750000
50%                                5.000000                         12.200000
75%                                6.000000                         13.333333
max                               20.000000                         18.571429

        Curricular units 2nd sem (without evaluations)  Unemployment rate  \
count                                      4424.000000        4424.000000
unique                                             NaN                NaN
top                                                NaN                NaN
freq                                               NaN                NaN
mean                                          0.150316          11.566139
std                                           0.753774           2.663850
min                                           0.000000           7.600000
25%                                           0.000000           9.400000
50%                                           0.000000          11.100000
75%                                           0.000000          13.900000
max                                          12.000000          16.200000

        Inflation rate          GDP    Target
count      4424.000000  4424.000000      4424
unique             NaN          NaN         3
top                NaN          NaN  Graduate
freq               NaN          NaN      2209
mean          1.228029     0.001969       NaN
std           1.382711     2.269935       NaN
min          -0.800000    -4.060000       NaN
25%           0.300000    -1.700000       NaN
50%           1.400000     0.320000       NaN
75%           2.600000     1.790000       NaN
max           3.700000     3.510000       NaN

[11 rows x 37 columns]

In [26]:
def cleanse_data(df):
    # Rename specific columns
    df.rename(columns={
        'Nacionality': 'Nationality',
        "Mother's qualification": 'Mothers_qualification',
        "Father's qualification": 'Fathers_qualification',
        "Mother's occupation": 'Mothers_occupation',
        "Father's occupation": 'Fathers_occupation',
        'Daytime/evening attendance': 'Daytime_evening_attendance',
        'Curricular units 1st sem (credited)': 'Curricular_units_1st_sem_credited',
        'Curricular units 1st sem (enrolled)': 'Curricular_units_1st_sem_enrolled',
        'Curricular units 1st sem (evaluations)': 'Curricular_units_1st_sem_evaluations',
        'Curricular units 1st sem (approved)': 'Curricular_units_1st_sem_approved',
        'Curricular units 1st sem (grade)': 'Curricular_units_1st_sem_grade',
        'Curricular units 1st sem (without evaluations)': 'Curricular_units_1st_sem_without_evaluations',
        'Curricular units 2nd sem (credited)': 'Curricular_units_2nd_sem_credited',
        'Curricular units 2nd sem (enrolled)': 'Curricular_units_2nd_sem_enrolled',
        'Curricular units 2nd sem (evaluations)': 'Curricular_units_2nd_sem_evaluations',
        'Curricular units 2nd sem (approved)': 'Curricular_units_2nd_sem_approved',
        'Curricular units 2nd sem (grade)': 'Curricular_units_2nd_sem_grade',
        'Curricular units 2nd sem (without evaluations)': 'Curricular_units_2nd_sem_without_evaluations',
    }, inplace=True)
    
    # Replace spaces with underscores in all column names
    df.columns = df.columns.str.replace(' ', '_')
    
    # Handle missing values
    df.fillna({
        'Marital_Status': 'Unknown',
        'Nationality': 'Unknown',
        'Mothers_qualification': 'Unknown',
        'Fathers_qualification': 'Unknown',
        'Mothers_occupation': 'Unknown',
        'Fathers_occupation': 'Unknown',
        'Displaced': 'No',
        'Educational_special_needs': 'No',
        'Debtor': 'No',
        'Tuition_fees_up_to_date': 'Yes',
        'Gender': 'Unknown',
        'Scholarship_holder': 'No',
        'International': 'No'
    }, inplace=True)
    
    # Convert data types if needed
    numeric_cols = [
        'Application_mode', 'Application_order', 'Admission_grade', 'Age_at_enrollment',
        'Curricular_units_1st_sem_credited', 'Curricular_units_1st_sem_enrolled', 
        'Curricular_units_1st_sem_evaluations', 'Curricular_units_1st_sem_approved', 
        'Curricular_units_1st_sem_grade', 'Curricular_units_1st_sem_without_evaluations',
        'Curricular_units_2nd_sem_credited', 'Curricular_units_2nd_sem_enrolled', 
        'Curricular_units_2nd_sem_evaluations', 'Curricular_units_2nd_sem_approved', 
        'Curricular_units_2nd_sem_grade', 'Curricular_units_2nd_sem_without_evaluations',
        'Unemployment_rate', 'Inflation_rate', 'GDP'
    ]
    
    for col in numeric_cols:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    # Save the cleaned data to a CSV file
    df.to_csv('data/cleaned_data.csv', index=False)

    return df

df_clean = cleanse_data(df_student)
display(df_clean.head(5))

,Marital_Status,Application_mode,Application_order,Course,Daytime_evening_attendance,Previous_qualification,Previous_qualification_(grade),Nationality,Mothers_qualification,Fathers_qualification,...,Curricular_units_2nd_sem_credited,Curricular_units_2nd_sem_enrolled,Curricular_units_2nd_sem_evaluations,Curricular_units_2nd_sem_approved,Curricular_units_2nd_sem_grade,Curricular_units_2nd_sem_without_evaluations,Unemployment_rate,Inflation_rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

### Check Duplicate Rows

In [27]:

# Display number of duplicated rows
print("Number of duplicated rows: ",df_student.duplicated().sum())

# Display rows with duplicates
# print(students_df[students_df.duplicated()])

Number of duplicated rows:  0

### Check Unique Values

In [28]:

# Get no of Unique values in every column
for col in df_student.columns:
    if len(df_student[col].unique()) < 10:
        print(f"{col} has {len(df_student[col].unique())} unique values; Repeated values are {sorted(students_df[col].unique())}")
    else:
        print(f"{col} has {len(df_student[col].unique())} values")

Marital_Status has 6 unique values; Repeated values are [1, 2, 3, 4, 5, 6]
Application_mode has 18 values
Application_order has 8 unique values; Repeated values are [0, 1, 2, 3, 4, 5, 6, 9]
Course has 17 values
Daytime_evening_attendance has 2 unique values; Repeated values are [0, 1]
Previous_qualification has 17 values
Previous_qualification_(grade) has 101 values
Nationality has 21 values
Mothers_qualification has 29 values
Fathers_qualification has 34 values
Mothers_occupation has 32 values
Fathers_occupation has 46 values
Admission_grade has 620 values
Displaced has 2 unique values; Repeated values are [0, 1]
Educational_special_needs has 2 unique values; Repeated values are [0, 1]
Debtor has 2 unique values; Repeated values are [0, 1]
Tuition_fees_up_to_date has 2 unique values; Repeated values are [0, 1]
Gender has 2 unique values; Repeated values are [0, 1]
Scholarship_holder has 2 unique values; Repeated values are [0, 1]
Age_at_enrollment has 46 values
International has 2 unique values; Repeated values are [0, 1]
Curricular_units_1st_sem_credited has 21 values
Curricular_units_1st_sem_enrolled has 23 values
Curricular_units_1st_sem_evaluations has 35 values
Curricular_units_1st_sem_approved has 23 values
Curricular_units_1st_sem_grade has 797 values
Curricular_units_1st_sem_without_evaluations has 11 values
Curricular_units_2nd_sem_credited has 19 values
Curricular_units_2nd_sem_enrolled has 22 values
Curricular_units_2nd_sem_evaluations has 30 values
Curricular_units_2nd_sem_approved has 20 values
Curricular_units_2nd_sem_grade has 782 values
Curricular_units_2nd_sem_without_evaluations has 10 values
Unemployment_rate has 10 values
Inflation_rate has 9 unique values; Repeated values are [-0.8, -0.3, 0.3, 0.5, 0.6, 1.4, 2.6, 2.8, 3.7]
GDP has 10 values
Target has 3 unique values; Repeated values are ['Dropout', 'Enrolled', 'Graduate']

### Individual Variables Quality Check

In [30]:
# Zero columns:
def count_zeros(df):
    numerical_columns = df.select_dtypes(include = [np.number]).columns
    zeros_count = df[numerical_columns].eq(0).sum()
    return zeros_count

print(count_zeros(students_df))

# Dropping columns with zeroes:
def dropping(df, variable):
    df = df.drop(variable, axis = 1)
    return df

data = dropping(students_df, ["Curricular_units_1st_sem_credited", "Curricular_units_1st_sem_enrolled", "Curricular_units_1st_sem_without_evaluations", "Curricular_units_2nd_sem_without_evaluations"])

# Removing outliers:
def remove_num_outliers(df):
    numerical_columns = df.select_dtypes(include = np.number).columns
    Q1 = df[numerical_columns].quantile(0.25)
    Q3 = df[numerical_columns].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 3 * IQR
    upper_bound = Q3 + 3 * IQR
    df_cleaned = df.copy()
    for column in numerical_columns:
        df_cleaned = df_cleaned[~((df_cleaned[column] < lower_bound[column]) | (df_cleaned[column] > upper_bound[column]))]
    return df_cleaned

data = remove_num_outliers(df_student)

Marital_Status                                     0
Application_mode                                   0
Application_order                                  1
Course                                             0
Daytime_evening_attendance                       483
Previous_qualification                             0
Previous_qualification_(grade)                     0
Nationality                                        0
Mothers_qualification                              0
Fathers_qualification                              0
Mothers_occupation                               144
Fathers_occupation                               128
Admission_grade                                    0
Displaced                                       1998
Educational_special_needs                       4373
Debtor                                          3921
Tuition_fees_up_to_date                          528
Gender                                          2868
Scholarship_holder                              3325
Age_at_enrollment                                  0
International                                   4314
Curricular_units_1st_sem_credited               3847
Curricular_units_1st_sem_enrolled                180
Curricular_units_1st_sem_evaluations             349
Curricular_units_1st_sem_approved                718
Curricular_units_1st_sem_grade                   718
Curricular_units_1st_sem_without_evaluations    4130
Curricular_units_2nd_sem_credited               3894
Curricular_units_2nd_sem_enrolled                180
Curricular_units_2nd_sem_evaluations             401
Curricular_units_2nd_sem_approved                870
Curricular_units_2nd_sem_grade                   870
Curricular_units_2nd_sem_without_evaluations    4142
Unemployment_rate                                  0
Inflation_rate                                     0
GDP                                                0
dtype: int64